.table {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.table_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table_row :nth-child(3n) {
    border-right: 2px solid black;
}

.table_row :last-child {
    border-right: none;
}

.border_bottom {
    border-bottom: 2px solid black;
}

.table :last-child {
    border-bottom: none;
}